@import '../../scss/variables';

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 40px;
}

.category {
  width: 200px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 10px;
  position: relative;
  &:hover {
    color: black;
    border-color: $them-color;
    background-color: $them-color;
  }
}

.category__showMoreIcon,
.category__showLessIcon {
  position: relative;
  top: 3px;
  margin-left: 5px;
}

.subCategories,
.subCategories__sortBy {
  position: absolute;
  display: none;
  flex-wrap: wrap;
  background: $them-color;
  border-radius: 10px;
  padding: 10px;
  color: rgb(0, 0, 0);
  z-index: 5;
  height: 300px;
  overflow-y: auto;
  &.active {
    display: flex;
  }
}

.subCategories {
  top: 60px;
  left: -10px;
}

.subCategory {
  padding: 10px;
  &:hover {
    text-decoration: underline;
  }
}

.subCategories__sortBy {
  top: 60px;
  left: -5px;
}

.slider {
  position: absolute;
  display: none;
  top: 60px;
  left: -5px;
  width: 210px;
  color: rgb(0, 0, 0);
  background: $them-color;
  padding: 10px;
  border-radius: 20px;
  &.active {
    display: block;
  }
}

@media (max-width: 900px) {
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media (max-width: 500px) {
  .categories {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}
