@import '../../scss/variables';

.movieCard {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: all 0.1s linear;

  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
}

.movieCard__imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.movieCard__image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movieCard__info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
}

.movieCard__info:hover {
  opacity: 1;
}

.info__bookmark {
  font-size: 32px;
  position: absolute;
  top: 10px;
  left: 10px;
  &:hover {
    color: $them-color-light;
  }
}

.info__playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: $them-color;
  border-radius: 50%;
  &:hover {
    background: $them-color-light;
  }
}

.playBtn__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: rgb(18, 18, 18);
}

.info__descr {
  position: absolute;
  top: 60%;
  text-align: center;
  width: 100%;
  font-size: 18px;
  padding: 10px;
}

.info__rating {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  // &__bgRed {
  //   background: rgb(119, 44, 44);
  // }
  // &__bgYellow {
  //   background: rgb(134, 134, 49);
  // }
  // &__bgYellowGreen {
  //   background: rgb(94, 128, 46);
  // }
  // &__bgGreen {
  //   background: rgb(47, 129, 61);
  // }
}

// .bgRed__info__rating {
//   background: rgb(119, 44, 44);
// }
// .bgYellow__info__rating {
//   background: rgb(134, 134, 49);
// }
// .bgYellowGreen__info__rating {
//   background: rgb(94, 128, 46);
// }
// .bgGreen__info__rating {
//   background: rgb(47, 129, 61);
// }

// .bgGrey__info__rating {
//   background: rgb(78, 78, 78);
// }
