@import '../../scss/variables';

.home {
  width: 100%;
  height: 100%;
}

.films {
  padding: 20px 20px;
  max-width: $container-width;
  margin: 0 auto;
}

.films__block + .films__block {
  margin-top: 30px;
}

.filmsTitle {
  font-size: 32px;
  letter-spacing: 2px;
}

.titleLink:hover {
  color: $them-color;
}

.titleLink {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  &__arrow {
    position: relative;
    top: 4px;
  }
}

@media (max-width: 500px) {
  .filmsTitle {
    font-size: 26px;
    letter-spacing: 1px;
  }
}
