@import '../../scss/variables';

.mySwiper {
  padding: 10px !important;
  margin-right: -10px !important;
}

.moviesSlide {
  width: 250px !important;
  margin-right: 20px !important;
  height: 400px;
}
