@import '../../scss/variables';

.header {
  display: flex;
  align-items: center;
  max-width: $container-width;
  margin: 0 auto;
  padding: 40px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.logo {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  margin-right: 100px;
  min-width: 100px;
  &:hover {
    color: $them-color;
  }
}

.logoIcon {
  text-align: center;
  font-size: 56px;
}

.header__right {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 26px;
  text-transform: uppercase;
  &Link {
    padding: 10px 0;
    &:hover {
      color: $them-color;
      border-bottom: 3px solid $them-color;
    }
  }
}

.other {
  display: flex;
  gap: 40px;
  align-items: center;
}

.search {
  position: relative;
}

.searchIcon {
  position: relative;
  left: 20px;
}

.searchInput {
  background: transparent;
  padding: 10px 20px 10px 40px;
  border-bottom: 2px solid white;
  color: $them-color;
  font-size: 18px;
  &::placeholder {
    opacity: 0.5;
    color: rgb(255, 255, 255);
  }
  &:focus {
    border-bottom: 2px solid $them-color;
  }
}

.searchFilms {
  position: absolute;
  background: rgba(61, 60, 60, 0.9);
  overflow: auto;
  border-radius: 20px;
  padding: 10px 20px;
  top: 100%;
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
  cursor: pointer;
  &__hidden {
    display: none;
  }
}

.searchFilm {
  padding: 10px 0;
  &:hover {
    color: $them-color;
  }
}

.bookmark {
  font-size: 30px;
  cursor: pointer;
  &:hover {
    color: $them-color;
  }
}

.loginButton {
  padding: 10px 20px;
  border-radius: 50px;
  border: 2px solid white;
  text-transform: uppercase;
  background-color: transparent;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  &:hover {
    border-color: $them-color;
    background-color: $them-color;
    color: rgb(0, 0, 0);
  }
}

.menu__close {
  display: none;
}

.menu__burger {
  display: none;
  font-size: 40px;
  &:hover {
    color: $them-color;
    cursor: pointer;
  }
}

@media (max-width: 1250px) {
  .menu {
    gap: 30px;
    font-size: 22px;
  }
  .other {
    gap: 30px;
  }
  .logo {
    margin-right: 50px;
  }
}

@media (max-width: 1050px) {
  .header {
    padding: 30px 20px;
  }
  .header__right {
    flex-direction: column;
    min-height: 100px;
    align-items: end;
  }
  .menu {
    gap: 50px;
    font-size: 22px;
  }
}

@media (max-width: 700px) {
  .header {
    flex-direction: column;
  }
  .logo {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .header__right {
    flex-direction: column;
    min-height: 100px;
    align-items: center;
  }
  .menu {
    gap: 50px;
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
  }
  .menu__burger {
    display: block;
  }
  .header__right {
    display: none;
  }
  .header__right.active {
    display: flex;
    justify-content: left;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    padding: 20px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 40px;
    font-size: 26px;
    margin-bottom: 50px;
  }
  .other {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .menu__close {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 30px;
    &:hover {
      color: $them-color;
    }
  }
}
