@import 'components/all';
@import 'variables';

body {
  background: linear-gradient(-45deg, #82412d, #5c1933, #0e465b, #0f5e4c);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.bgRed {
  background-color: #9b3434;
}
.bgYellow {
  background-color: #d9c44d;
}
.bgYellowGreen {
  background-color: #98b135;
}
.bgGreen {
  background-color: #32a330;
}
.bgGrey {
  background-color: #868686;
}
